* {
  margin: 0;
  padding: 0; }

.qiehuan:after, .doc:after, .g-lunbo-img:after, .g-ad:after, .g-music-menu h4:after, .g-music-menu-inner:after, .g-music-menu2 h4:after, .g-fenlei h4:after, .g-new h4:after, .doc-play:after, .doc-play-bo:after, .doc-play-playbt ul:after, .doc-music_menu:after, .qiehuan:before, .doc:before, .g-lunbo-img:before, .g-ad:before, .g-music-menu h4:before, .g-music-menu-inner:before, .g-music-menu2 h4:before, .g-fenlei h4:before, .g-new h4:before, .doc-play:before, .doc-play-bo:before, .doc-play-playbt ul:before, .doc-music_menu:before {
  content: "";
  display: table; }

.qiehuan:after, .doc:after, .g-lunbo-img:after, .g-ad:after, .g-music-menu h4:after, .g-music-menu-inner:after, .g-music-menu2 h4:after, .g-fenlei h4:after, .g-new h4:after, .doc-play:after, .doc-play-bo:after, .doc-play-playbt ul:after, .doc-music_menu:after {
  clear: both; }

.fl, .doc, .g-search span, .g-ad-box, .g-ad-box2, .g-ad-box-img, .g-ad-box-text, .g-music-menu-inner, .g-fenlei .g-fenlei-box .g-fenlei-bo1, .g-new .g-new-box .g-new-inner, .doc-play-hd .icon-down2, .doc-play-bo > span:nth-of-type(1), .doc-play-playbt .icon-bofangye-caozuolan-suijibofang, .doc-play-playbt ul li:nth-of-type(1), .doc-play-playbt ul li:nth-of-type(2), .doc-music_menu, .doc-music_menu-ad p .icon-down2, .doc-music_menu-music h4 .bofang {
  float: left; }

.fr, .g-search > i, .g-ad-box2, .g-music-menu h4 span, .g-music-menu2 h4 span, .g-fenlei h4 span, .g-new h4 span, .doc-play-hd .icon-gengduo, .doc-play-hd .icon-gecishezhi_, .doc-play-bo > span:nth-of-type(2), .doc-play-playbt .icon-gengduo1, .doc-play-playbt ul li:nth-of-type(3), .doc-music_menu-ad p .icon-gengduo, .doc-music_menu-music h4 .icon-gengduo1, .doc-music_menu-music h4 .icon-xiazai, .music .icon-danchuang_bofangMV_, .music .icon-gengduo, .music-bottom .music-bottom-play, .music-bottom .icon-gengduo1 {
  float: right; }

.mlr, .g-music-nav, .g-ad, .g-music-menu h4, .g-music-menu2 h4, .g-fenlei h4, .g-new h4 {
  margin-right: 0.3871rem;
  margin-left: 0.3871rem; }

body {
  width: 10.01613rem;
  overflow: hidden; }

.qiehuan {
  width: 20.03226rem; }

.doc {
  width: 10.01613rem;
  background-color: #f7f7f7;
  padding-top: 0.22581rem;
  overflow: hidden; }

.g-search {
  margin-right: 0.3871rem;
  margin-left: 0.3871rem;
  margin-bottom: 0.48387rem; }
  .g-search span {
    font-size: 0.51613rem;
    line-height: 0.77419rem; }
  .g-search > i {
    line-height: 0.77419rem;
    color: #7d7d7d;
    font-size: 0.6129rem; }
  .g-search .g-sou {
    position: relative;
    margin-right: 0.96774rem;
    margin-left: 1.90323rem;
    border-radius: 0.3871rem;
    background-color: #fff; }
    .g-search .g-sou input {
      width: 100%;
      border-radius: 0.3871rem;
      line-height: 0.77419rem;
      border: none;
      outline: none;
      text-align: center;
      font-size: 0.35484rem;
      color: #989898; }
    .g-search .g-sou > i {
      position: absolute;
      left: 2.41935rem;
      top: 0.20968rem;
      font-size: 0.35484rem; }

.g-lunbo {
  margin-right: 0.3871rem;
  margin-left: 0.3871rem;
  width: 9.24194rem;
  position: relative;
  height: 3.75806rem;
  overflow: hidden; }
  .g-lunbo .swiper-container {
    height: 100%; }

.g-lunbo-img {
  width: 100%; }

img {
  width: 100%;
  height: 100%;
  border-radius: 0.1129rem; }

.g-lunbo-button {
  position: absolute;
  bottom: 0.16129rem; }
  .g-lunbo-button li {
    width: 0.16129rem;
    height: 0.16129rem;
    background-color: white; }

.g-music-nav {
  padding-top: 0.56452rem;
  margin-bottom: 0.33871rem; }
  .g-music-nav ul {
    display: flex; }
    .g-music-nav ul li {
      list-style: none;
      flex: 1;
      text-align: center; }
      .g-music-nav ul li p {
        font-size: 0.29032rem;
        color: #2b2b2b;
        line-height: 0.77419rem; }
      .g-music-nav ul li i {
        font-size: 0.51613rem;
        color: #67cf9c; }

.g-ad {
  margin-bottom: 0.25806rem; }
  .g-ad-box, .g-ad-box2 {
    width: 4.51613rem;
    height: 1.62903rem;
    background-color: #67c39c;
    border-radius: 0.16129rem;
    padding-top: 0.40323rem; }
    .g-ad-box-img {
      margin-left: 0.19355rem; }
      .g-ad-box-img img {
        width: 1.20968rem;
        height: 1.20968rem;
        border-radius: 0.12903rem; }
    .g-ad-box-text {
      margin-top: 0.1129rem;
      margin-left: 0.19355rem; }
      .g-ad-box-text h5 {
        font-size: 0.33871rem;
        line-height: 0.53226rem;
        color: #fff; }
      .g-ad-box-text p {
        font-size: 0.29032rem;
        line-height: 0.48387rem;
        color: #e8f1ec; }

.swiper-slide2 {
  width: auto; }

.g-music-menu {
  overflow: hidden;
  height: 5.43548rem; }
  .g-music-menu > div {
    height: 4.27419rem;
    position: relative; }
  .g-music-menu h4 {
    line-height: 1.19355rem;
    color: #000;
    font-size: 0.41935rem; }
    .g-music-menu h4 span {
      font-size: 0.29032rem;
      color: #2c2c2c; }
  .g-music-menu-muc1, .g-music-menu2 .g-music-menu-muc2 {
    position: absolute; }
    .g-music-menu-inner {
      width: 2.95161rem;
      margin-right: 0.19355rem; }
      .g-music-menu-inner:nth-of-type(1) {
        margin-left: 0.3871rem; }
      .g-music-menu-inner > div {
        position: relative; }
        .g-music-menu-inner > div img {
          width: 2.95161rem;
          height: 2.95161rem;
          border-radius: 0.12903rem; }
        .g-music-menu-inner > div .icon-qqmusicgrey {
          position: absolute;
          font-size: 0.25806rem;
          top: 0.12903rem;
          left: 0.12903rem;
          color: #e1e1e1; }
        .g-music-menu-inner > div > p {
          position: absolute;
          bottom: 0.14516rem;
          right: 0.14516rem; }
          .g-music-menu-inner > div > p span {
            font-size: 0.22581rem;
            color: #000; }
          .g-music-menu-inner > div > p i {
            font-size: 0.48387rem;
            color: #fff;
            vertical-align: middle; }
      .g-music-menu-inner > p {
        margin-top: 0.16129rem;
        width: 2.95161rem;
        font-size: 0.30645rem;
        line-height: 0.41935rem;
        color: #252525; }

.g-music-menu2 {
  height: 5.43548rem; }
  .g-music-menu2 > div {
    height: 4.27419rem;
    position: relative; }
  .g-music-menu2 h4 {
    line-height: 1.19355rem;
    color: #000;
    font-size: 0.41935rem; }
    .g-music-menu2 h4 span {
      font-size: 0.29032rem;
      color: #2c2c2c; }

.g-fenlei {
  overflow: hidden;
  margin-top: 0.22581rem; }
  .g-fenlei h4 {
    line-height: 1.19355rem;
    color: #000;
    font-size: 0.41935rem; }
    .g-fenlei h4 span {
      font-size: 0.29032rem;
      color: #2c2c2c; }
  .g-fenlei .g-fenlei-box {
    width: 12.96774rem; }
    .g-fenlei .g-fenlei-box img {
      width: 6.09677rem;
      height: 3.41935rem;
      border-radius: 0.14516rem; }
    .g-fenlei .g-fenlei-box .g-fenlei-bo1 {
      margin-right: 0.19355rem; }
      .g-fenlei .g-fenlei-box .g-fenlei-bo1:nth-of-type(1) {
        margin-left: 0.3871rem; }
      .g-fenlei .g-fenlei-box .g-fenlei-bo1 > p {
        line-height: 0.72581rem;
        font-size: 0.29032rem;
        color: #272727; }
      .g-fenlei .g-fenlei-box .g-fenlei-bo1 > div {
        position: relative; }
        .g-fenlei .g-fenlei-box .g-fenlei-bo1 > div p {
          position: absolute;
          left: 0.14516rem;
          bottom: 0.14516rem;
          line-height: 0.83871rem; }
          .g-fenlei .g-fenlei-box .g-fenlei-bo1 > div p span {
            font-size: 0.37097rem;
            color: #fff; }

.g-new {
  margin-top: 0.58065rem; }
  .g-new h4 {
    line-height: 1.19355rem;
    color: #000;
    font-size: 0.41935rem; }
    .g-new h4 span {
      font-size: 0.29032rem;
      color: #2c2c2c; }
  .g-new .g-new-box .g-new-inner {
    width: 2.95161rem;
    margin-right: 0.19355rem; }
    .g-new .g-new-box .g-new-inner:nth-of-type(1) {
      margin-left: 0.3871rem; }
    .g-new .g-new-box .g-new-inner > div {
      position: relative; }
      .g-new .g-new-box .g-new-inner > div img {
        width: 2.95161rem;
        height: 2.95161rem;
        border-radius: 0.12903rem; }
      .g-new .g-new-box .g-new-inner > div > p {
        position: absolute;
        bottom: 0.14516rem;
        right: 0.14516rem;
        line-height: 0.51613rem; }
        .g-new .g-new-box .g-new-inner > div > p b {
          display: inline-block;
          width: 0.51613rem;
          height: 0.51613rem;
          text-align: center;
          line-height: 0.51613rem;
          background-color: #fff;
          border-radius: 50%; }
          .g-new .g-new-box .g-new-inner > div > p b i {
            font-size: 0.22581rem;
            color: #c9c9c9; }
    .g-new .g-new-box .g-new-inner > p {
      width: 2.95161rem;
      font-size: 0.30645rem;
      line-height: 0.41935rem;
      color: #252525; }
      .g-new .g-new-box .g-new-inner > p:nth-of-type(1) {
        margin-top: 0.16129rem; }
      .g-new .g-new-box .g-new-inner > p:nth-of-type(2) {
        color: #a7a7a7; }

.doc-play {
  background-color: rgba(0, 0, 0, 0.2);
  width: 10.01613rem;
  padding-top: 0.48387rem;
  padding-bottom: 0.45161rem; }

.swiper-container4 {
  position: relative; }
  .swiper-container4 .swiper-pagination-bullet-active {
    background-color: white; }
    .swiper-container4 .swiper-pagination-bullet-active li {
      border-radius: 50%; }

.doc-play-hd {
  line-height: 0.48387rem;
  margin-bottom: 0.32258rem; }
  .doc-play-hd .icon-down2 {
    margin-left: 0.46774rem; }
  .doc-play-hd .icon-gengduo {
    margin-right: 0.45161rem; }
  .doc-play-hd .icon-gecishezhi_ {
    margin-right: 0.45161rem;
    font-size: 0.51613rem; }
  .doc-play-hd p {
    margin-left: 0.96774rem;
    margin-right: 0.96774rem;
    font-size: 0.45161rem;
    text-align: center;
    line-height: 0.48387rem;
    color: #fff; }

.doc-play-name {
  line-height: 0.33871rem;
  font-size: 0.33871rem;
  color: #dddbd9;
  text-align: center; }
  .doc-play-name p {
    display: inline-block;
    width: 0.41935rem;
    height: 0.03226rem;
    background-color: #9d9992;
    line-height: 0.33871rem;
    vertical-align: middle; }
    .doc-play-name p:nth-of-type(1) {
      margin-right: 0.19355rem; }
    .doc-play-name p:nth-of-type(2) {
      margin-left: 0.19355rem; }

.doc-play-tag {
  margin-top: 0.33871rem;
  margin-bottom: 0.46774rem; }
  .doc-play-tag ul {
    display: flex;
    margin-right: 3.06452rem;
    margin-left: 3.06452rem; }
    .doc-play-tag ul li {
      flex: 1;
      text-align: center;
      border: 0.03226rem solid #fff;
      color: #fff;
      border-radius: 0.06452rem;
      margin-right: 0.22581rem;
      font-size: 0.27419rem;
      line-height: 0.41935rem; }

.doc-play-cd {
  margin-left: 0.46774rem;
  margin-right: 0.46774rem;
  margin-bottom: 1.27419rem; }
  .doc-play-cd > div {
    height: 8.90323rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding-top: 0.20968rem; }
    .doc-play-cd > div > div {
      height: 8.69355rem;
      width: 8.69355rem;
      position: relative;
      margin: auto;
      background-color: #0d0e09;
      overflow: hidden;
      border-radius: 50%; }
      .doc-play-cd > div > div img {
        position: absolute;
        left: -4.03226rem; }

.doc-play-bo {
  line-height: 0.40323rem;
  margin-right: 0.22581rem;
  margin-left: 0.22581rem;
  margin-bottom: 0.35484rem; }
  .doc-play-bo > span {
    color: #918f8e;
    font-size: 0.20968rem; }
  .doc-play-bo > div {
    height: 0.40323rem;
    margin-left: 0.90323rem;
    margin-right: 0.90323rem;
    position: relative; }
    .doc-play-bo > div .doc-play-bt {
      width: 0.40323rem;
      height: 0.40323rem;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      z-index: 2; }
    .doc-play-bo > div .doc-play-to {
      width: 7.5rem;
      height: 0.06452rem;
      top: 0.16935rem;
      background-color: rgba(0, 0, 0, 0.5);
      line-height: 0.40323rem;
      position: absolute;
      right: 0px;
      z-index: 1; }

.doc-play-playbt {
  margin-right: 0.48387rem;
  margin-left: 0.48387rem;
  margin-bottom: 0.48387rem;
  line-height: 1.45161rem;
  height: 1.45161rem; }
  .doc-play-playbt .icon-bofangye-caozuolan-suijibofang {
    font-size: 0.64516rem;
    color: #a4a19f; }
  .doc-play-playbt .icon-gengduo1 {
    font-size: 0.48387rem;
    color: #a4a19f; }
  .doc-play-playbt ul {
    margin-right: 2.32258rem;
    margin-left: 2.32258rem; }
    .doc-play-playbt ul li {
      width: 0.80645rem;
      height: 0.80645rem;
      border-radius: 50%;
      border: 0.06452rem solid #fff;
      text-align: center;
      line-height: 0.80645rem;
      border-radius: 50%; }
      .doc-play-playbt ul li:nth-of-type(1) {
        margin-top: 0.25806rem; }
        .doc-play-playbt ul li:nth-of-type(1) i {
          font-size: 0.37097rem;
          color: #fff; }
      .doc-play-playbt ul li:nth-of-type(3) {
        margin-top: 0.25806rem; }
        .doc-play-playbt ul li:nth-of-type(3) i {
          font-size: 0.32258rem;
          color: #fff; }
      .doc-play-playbt ul li:nth-of-type(2) {
        width: 1.32258rem;
        height: 1.32258rem;
        line-height: 1.32258rem;
        margin: 0px auto;
        margin-left: 0.56452rem; }
        .doc-play-playbt ul li:nth-of-type(2) i {
          font-size: 0.58065rem;
          color: #fff; }

.doc-play-shou ul {
  display: flex; }
  .doc-play-shou ul li {
    flex: 1;
    text-align: center;
    line-height: 0.56452rem; }
    .doc-play-shou ul li i {
      color: #b2afad;
      font-size: 0.56452rem; }

.doc-play-ci2 {
  height: 12.20968rem;
  overflow: hidden;
  position: relative; }
  .doc-play-ci2 p {
    font-size: 0.33871rem;
    line-height: 0.8871rem;
    color: #ffffff;
    text-align: center; }
  .doc-play-ci2 span {
    position: absolute;
    bottom: 0.64516rem;
    left: 0.3871rem;
    font-size: 0.51613rem;
    color: #726d6c; }

.doc-music_menu {
  width: 10.01613rem; }

.doc-music_menu-ad {
  height: 6.93548rem;
  position: relative;
  display: flex; }
  .doc-music_menu-ad img {
    width: 10.01613rem;
    height: 6.93548rem; }
  .doc-music_menu-ad p {
    width: 9.14516rem;
    font-size: 0.27419rem;
    line-height: 0.27419rem;
    color: #fff;
    position: absolute;
    top: 0.80645rem;
    left: 0.45161rem; }
  .doc-music_menu-ad span {
    left: 0px;
    position: absolute;
    bottom: 0.48387rem;
    font-size: 0.25806rem;
    color: #acaba7;
    width: 10.01613rem;
    text-align: center; }

.doc-music_menu-music {
  margin-top: 0.48387rem; }
  .doc-music_menu-music h4 {
    line-height: 0.59677rem;
    margin-right: 0.43548rem;
    margin-left: 0.3871rem;
    margin-bottom: 0.45161rem;
    font-size: 0.33871rem; }
    .doc-music_menu-music h4 .bofang {
      width: 0.59677rem;
      line-height: 0.59677rem;
      text-align: center;
      border-radius: 50%;
      background-color: #2ace99;
      margin-right: 0.16129rem; }
      .doc-music_menu-music h4 .bofang .icon-play {
        font-size: 0.48387rem;
        color: #fff; }
    .doc-music_menu-music h4 .icon-gengduo1 {
      color: #9b9b9b;
      font-size: 0.3871rem; }
    .doc-music_menu-music h4 .icon-xiazai {
      color: #9b9b9b;
      font-size: 0.3871rem;
      margin-right: 0.51613rem; }

.music {
  margin-right: 0.43548rem;
  margin-left: 0.25806rem;
  padding-bottom: 1.1129rem; }
  .music ul li {
    line-height: 0.93548rem;
    margin-bottom: 0.58065rem; }
    .music ul li .p1 {
      line-height: 0.56452rem;
      color: #000;
      font-size: 0.35484rem; }
      .music ul li .p1 span {
        margin-right: 0.51613rem; }
        .music ul li .p1 span:nth-of-type(1) {
          margin-left: 0.30645rem; }
    .music ul li .p2 {
      line-height: 0.37097rem; }
      .music ul li .p2 .baifengbi {
        font-size: 0.16129rem;
        color: #a6a6a6; }
      .music ul li .p2 .icon-shangsheng {
        font-size: 0.19355rem;
        color: #6e6e6e; }
      .music ul li .p2 .zuozhe {
        font-size: 0.30645rem;
        color: #8d8d8d; }
      .music ul li .p2 .VIP,
      .music ul li .p2 .dujia {
        display: inline-block;
        line-height: 0.24194rem;
        height: 0.24194rem;
        font-size: 0.14516rem;
        border: 0.03226rem solid #1ad699;
        border-radius: 0.06452rem;
        text-align: center;
        font-weight: bold;
        width: 0.48387rem;
        color: #1ad699; }
      .music ul li .p2 .SQ {
        display: inline-block;
        width: 0.48387rem;
        line-height: 0.24194rem;
        height: 0.24194rem;
        font-size: 0.14516rem;
        color: #e2b45f;
        border: 0.03226rem solid #e2b45f;
        border-radius: 0.06452rem;
        text-align: center;
        font-weight: bold;
        margin-left: 0.24194rem; }
  .music .icon-danchuang_bofangMV_ {
    line-height: 0.56452rem;
    font-size: 0.41935rem;
    color: #a0a0a0;
    margin-right: 0.46774rem; }
  .music .icon-gengduo {
    line-height: 0.56452rem;
    color: #a0a0a0; }

.music-bottom {
  line-height: 1.08065rem;
  background-color: #fff;
  position: fixed;
  z-index: 2200;
  width: 10.01613rem;
  bottom: 0;
  left: 0; }
  .music-bottom img {
    width: 1.1129rem;
    height: 1.1129rem;
    position: absolute;
    border-radius: 50%;
    left: 0.14516rem;
    top: -0.14516rem; }
  .music-bottom p {
    margin-left: 1.48387rem;
    margin-right: 2.06452rem;
    font-size: 0.32258rem;
    color: #000;
    line-height: 1.08065rem; }
  .music-bottom .music-bottom-play {
    width: 0.58065rem;
    height: 0.58065rem;
    border: 0.04839rem solid #1ad699;
    border-radius: 50%;
    text-align: center;
    line-height: 0.58065rem;
    margin-right: 0.43548rem;
    color: #2bcc98;
    margin-top: 0.22581rem; }
  .music-bottom .icon-gengduo1 {
    margin-right: 0.43548rem;
    color: #2bcc98;
    font-size: 0.46774rem; }
